/* line 5, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\000035}}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}
/* line 12, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\0000312}}
.left {
  float: left;
}
/* line 16, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\0000316}}
.innerWrapper {
  margin: 0 auto;
  max-width: 900px;
}
/* line 21, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\0000321}}
header {
  padding: 20px;
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}
/* line 29, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\0000329}}
header ul {
  list-style: none;
  display: inline-block;
  padding-top: 9px;
  padding-bottom: 9px;
}
/* line 34, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\0000334}}
header ul li {
  float: left;
  margin: 0px 19px;
}
/* line 37, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\0000337}}
header ul li a {
  text-transform: uppercase;
  color: #9daeb6;
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 7px;
}
/* line 43, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\0000343}}
header ul li a:hover {
  border-bottom: 2px solid #36aeea;
}
/* line 49, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\0000349}}
header .call {
  float: right;
  padding: 9px 43px;
  border-radius: 5px;
  text-transform: capitalize;
  border: 2px solid #36aeea;
  color: #36aeea;
}
/* line 58, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\0000358}}
.top {
  background-size: cover;
  width: 100%;
  background-image: url("../images/headerBg.png");
}
/* line 62, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\0000362}}
.top .travel {
  padding: 15px 20px;
  width: 700px;
  margin: 161px 100px 83px;
  display: inline-block;
}
/* line 67, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\0000367}}
.top .travel h2 {
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  letter-spacing: 2px;
}
/* line 73, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\0000373}}
.top .travel h2 span {
  color: #56c7ff;
  text-transform: none;
  font-family: 'Leckerli One', cursive;
}
/* line 79, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\0000379}}
.top .travel p {
  color: #9daeb6;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
/* line 84, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\0000384}}
.top .travel a {
  color: #ffffff;
  border: 1px solid #56c7ff;
  padding: 10px 40px;
  display: inline-block;
  margin-top: 15px;
  background-color: #56c7ff;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}
/* line 98, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\0000398}}
.blog {
  background-color: #f6f4f4;
}
/* line 100, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003100}}
.blog .contant {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url("../images/blogBg.png");
  background-size: cover;
}
/* line 107, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003107}}
.blog .contant .about {
  padding-top: 150px;
  width: 37%;
  float: left;
}
/* line 111, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003111}}
.blog .contant .about hr {
  height: 6px;
  width: 81px;
  background: url(../images/hr.png) repeat-x 0 0;
  border: 0;
}
/* line 115, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003115}}
.blog .contant .about h4 {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  padding: 25px 0 20px;
  letter-spacing: 3px;
}
/* line 122, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003122}}
.blog .contant .about p {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #9daeb6;
  letter-spacing: 1px;
}
/* line 129, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003129}}
.blog .contant .about a {
  color: #ffffff;
  border: 1px solid #56c7ff;
  padding: 10px 40px;
  display: inline-block;
  margin-top: 15px;
  background-color: #56c7ff;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}
/* line 142, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003142}}
.blog .contant .blog.right {
  float: left;
  width: 60%;
}
/* line 145, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003145}}
.blog .contant .blog.right img.selfie {
  position: absolute;
  width: 545px;
  bottom: 134px;
  left: 517px;
}
/* line 151, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003151}}
.blog .contant .blog.right img.foots {
  position: absolute;
  z-index: 1;
  width: 250px;
  top: 221px;
  right: 243px;
}
/* line 162, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003162}}
.journal hr {
  height: 6px;
  width: 81px;
  background: url(../images/hr.png) repeat-x 0 0;
  border: 0;
  margin: 50px 407px 30px;
}
/* line 167, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003167}}
.journal h3 {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
/* line 172, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003172}}
.journal .description {
  margin-bottom: 66px;
  padding-bottom: 250px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(201, 189, 201, 0.8);
  box-shadow: 0px 0px 20px 0px rgba(201, 189, 201, 0.8);
  margin-top: 50px;
}
/* line 179, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003179}}
.journal .description .love {
  margin-left: 79px;
}
/* line 181, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003181}}
.journal .description .love .left {
  position: relative;
  background-size: cover;
  height: 250px;
  width: 250px;
  background-image: url("../images/post1Bg.png");
}
/* line 187, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003187}}
.journal .description .love .left img {
  padding: 100px 96px 0;
  width: 252px;
}
/* line 191, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003191}}
.journal .description .love .left .triangular {
  position: absolute;
  right: 0;
  top: 15%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7.5px 10px 7.5px 0;
  border-color: transparent #ffffff transparent transparent;
}
/* line 202, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003202}}
.journal .description .love .right {
  float: left;
  height: 250px;
  width: 250px;
}
/* line 206, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003206}}
.journal .description .love .right h5 {
  text-transform: uppercase;
  color: #36aeea;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 9px;
  padding: 25px;
}
/* line 215, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003215}}
.journal .description .love .right h4 {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 11px;
}
/* line 222, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003222}}
.journal .description .love .right p {
  padding: 20px 0 25px;
  color: #777777;
  text-align: center;
  font-size: 14px;
}
/* line 228, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003228}}
.journal .description .love .right span.number {
  display: block;
  font-style: italic;
  text-align: center;
  font-size: 12px;
}
/* line 236, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003236}}
.journal .description .tree {
  float: left;
  margin-left: 79px;
}
/* line 239, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003239}}
.journal .description .tree .left {
  float: left;
  height: 250px;
  width: 250px;
}
/* line 243, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003243}}
.journal .description .tree .left h5 {
  text-transform: uppercase;
  color: #36aeea;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 9px;
  padding: 25px;
}
/* line 252, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003252}}
.journal .description .tree .left h4 {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 11px;
}
/* line 258, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003258}}
.journal .description .tree .left h4 span.lineThrought {
  text-decoration: line-through;
}
/* line 262, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003262}}
.journal .description .tree .left p {
  padding: 20px 0 25px;
  color: #777777;
  text-align: center;
  font-size: 14px;
}
/* line 268, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003268}}
.journal .description .tree .left span.number {
  display: block;
  font-style: italic;
  text-align: center;
  font-size: 12px;
}
/* line 275, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003275}}
.journal .description .tree .right {
  float: right;
  position: relative;
  background-size: cover;
  height: 250px;
  width: 250px;
  background-image: url("../images/post3Bg.png");
}
/* line 282, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003282}}
.journal .description .tree .right img {
  padding: 100px 96px 0;
  width: 252px;
}
/* line 286, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003286}}
.journal .description .tree .right .triangular {
  position: absolute;
  top: 15%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7.5px 0 7.5px 10px;
  border-color: transparent transparent transparent #ffffff;
}
/* line 298, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003298}}
.journal .description .water .top {
  background-image: url("../images/post2Bg.png");
  display: inline-block;
  position: relative;
  background-size: cover;
  height: 250px;
  width: 250px;
}
/* line 305, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003305}}
.journal .description .water .top img {
  padding: 100px 96px 0;
  width: 252px;
}
/* line 309, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003309}}
.journal .description .water .top .triangular {
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7.5px 10px 7.5px;
  border-color: transparent transparent #ffffff transparent;
}
/* line 320, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003320}}
.journal .description .water .bottom {
  float: left;
  height: 250px;
  width: 250px;
}
/* line 324, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003324}}
.journal .description .water .bottom h5 {
  text-transform: uppercase;
  color: #36aeea;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 9px;
  padding: 25px;
}
/* line 333, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003333}}
.journal .description .water .bottom h4 {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 11px;
}
/* line 339, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003339}}
.journal .description .water .bottom h4 span.lineThrought {
  text-decoration: line-through;
}
/* line 343, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003343}}
.journal .description .water .bottom p {
  padding: 20px 0 25px;
  color: #777777;
  text-align: center;
  font-size: 14px;
}
/* line 349, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003349}}
.journal .description .water .bottom span.number {
  display: block;
  font-style: italic;
  text-align: center;
  font-size: 12px;
}
/* line 359, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003359}}
.order {
  padding: 179px 0;
  background-image: url("../images/formBg.png");
  background-size: cover;
}
/* line 363, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003363}}
.order hr {
  height: 6px;
  width: 81px;
  background: url(../images/hr.png) repeat-x 0 0;
  border: 0;
}
/* line 366, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003366}}
.order h4 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  padding: 25px 0 10px;
  letter-spacing: 1px;
}
/* line 372, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003372}}
.order p {
  font-family: 'Open Sans', sans-serif;
  color: #9daeb6;
  letter-spacing: 1px;
  padding-bottom: 15px;
  font-size: 15px;
}
/* line 380, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003380}}
.order form .name {
  border: none;
  padding: 10px 15px;
  float: left;
}
/* line 385, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003385}}
.order form .phone {
  border-radius: 0 4px 4px 0;
  border: none;
  padding: 10px 15px;
  display: block;
  float: left;
}
/* line 392, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003392}}
.order form .submit {
  text-transform: uppercase;
  border: none;
  padding: 10px;
  color: #ffffff;
  background-color: #36aeea;
  cursor: pointer;
}
/* line 401, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003401}}
.order i {
  color: #36aeea;
  margin-top: 20px;
  margin-right: 15px;
}
/* line 406, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003406}}
.order span {
  color: #36aeea;
  font-size: 14px;
}
/* line 411, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003411}}
.order {
  padding: 179px 0;
  background-image: url("../images/formBg.png");
  background-size: cover;
}
/* line 415, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003415}}
.order hr {
  height: 6px;
  width: 81px;
  background: url(../images/hr.png) repeat-x 0 0;
  border: 0;
}
/* line 418, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003418}}
.order h4 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  padding: 25px 0 10px;
  letter-spacing: 1px;
}
/* line 424, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003424}}
.order p {
  font-family: 'Open Sans', sans-serif;
  color: #9daeb6;
  letter-spacing: 1px;
  padding-bottom: 15px;
  font-size: 15px;
}
/* line 432, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003432}}
.order form .name {
  border: none;
  padding: 10px 15px;
  float: left;
}
/* line 437, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003437}}
.order form .phone {
  border-radius: 0 4px 4px 0;
  border: none;
  padding: 10px 15px;
  display: block;
  float: left;
}
/* line 444, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003444}}
.order form .submit {
  text-transform: uppercase;
  border: none;
  padding: 10px;
  color: #ffffff;
  background-color: #36aeea;
  cursor: pointer;
}
/* line 452, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003452}}
.order form i {
  color: #36aeea;
  margin-top: 20px;
  margin-right: 15px;
}
/* line 457, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003457}}
.order form span {
  color: #36aeea;
  font-size: 14px;
}
/* line 464, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003464}}
.scheme hr {
  height: 6px;
  width: 81px;
  background: url(../images/hr.png) repeat-x 0 0;
  border: 0;
  margin: 30px 405px;
}
/* line 468, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003468}}
.scheme h3 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
@media screen and (max-width: 1920px) {
  /* line 477, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003477}}
  .top {
    background-size: cover;
    width: 100%;
    background-image: url("../images/headerBg.png");
  }
  /* line 481, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003481}}
  .top .travel {
    position: relative;
    margin: 287px -47px 214px;
    display: inline-block;
  }
  /* line 485, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003485}}
  .top .travel h2 {
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    letter-spacing: 2px;
  }
  /* line 491, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003491}}
  .top .travel h2 span {
    position: absolute;
    color: #56c7ff;
    text-transform: none;
    font-family: 'Leckerli One', cursive;
    bottom: 104px;
  }
  /* line 499, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003499}}
  .top .travel p {
    color: #9daeb6;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding-top: 20px;
  }
  /* line 505, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003505}}
  .top .travel a {
    color: #ffffff;
    border: 1px solid #56c7ff;
    padding: 10px 40px;
    display: inline-block;
    margin-top: 15px;
    background-color: #56c7ff;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
  }
  /* line 520, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003520}}
  .order {
    padding: 179px 0;
    background-image: url("../images/formBg.png");
    background-size: cover;
  }
  /* line 524, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003524}}
  .order hr {
    height: 6px;
    width: 81px;
    background: url(../images/hr.png) repeat-x 0 0;
    border: 0;
  }
  /* line 527, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003527}}
  .order h4 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    padding: 25px 0 10px;
    letter-spacing: 1px;
  }
  /* line 533, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003533}}
  .order p {
    font-family: 'Open Sans', sans-serif;
    color: #9daeb6;
    letter-spacing: 1px;
    padding-bottom: 15px;
    font-size: 15px;
  }
  /* line 540, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003540}}
  .order form {
    position: relative;
    padding-bottom: 35px;
  }
  /* line 543, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003543}}
  .order form .name {
    border: none;
    padding: 10px 15px;
    float: left;
  }
  /* line 548, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003548}}
  .order form .phone {
    border-radius: 0 4px 4px 0;
    border: none;
    padding: 10px 15px;
    display: block;
    float: left;
    padding-right: 113px;
  }
  /* line 556, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003556}}
  .order form .submit {
    position: absolute;
    text-transform: uppercase;
    border: none;
    padding: 10px 29px;
    color: #ffffff;
    background-color: #36aeea;
    cursor: pointer;
    left: 373px;
    top: 1px;
    border-radius: 2px;
    font-size: 9px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
  }
  /* line 573, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003573}}
  .order i {
    color: #36aeea;
    margin-top: 20px;
    margin-right: 15px;
  }
  /* line 578, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/LI\/WebstormProjects\/mountains\/style\/style\.less}line{font-family:\00003578}}
  .order span {
    color: #36aeea;
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */