/* line 5, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\000035}}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}
/* line 13, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\0000313}}
.left {
  float: left;
}
/* line 17, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\0000317}}
.innerWrapper {
  margin: 0 auto;
  max-width: 900px;
}
/* line 22, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\0000322}}
header {
  z-index: 2;
  padding: 20px;
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}
/* line 31, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\0000331}}
header ul {
  list-style: none;
  display: inline-block;
  padding-top: 9px;
  padding-bottom: 9px;
}
/* line 36, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\0000336}}
header ul li {
  float: left;
  margin: 0px 19px;
}
/* line 39, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\0000339}}
header ul li a {
  text-transform: uppercase;
  color: #9daeb6;
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 7px;
}
/* line 45, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\0000345}}
header ul li a:hover {
  border-bottom: 2px solid #36aeea;
}
/* line 51, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\0000351}}
header .call {
  float: right;
  padding: 9px 43px;
  border-radius: 5px;
  text-transform: capitalize;
  border: 2px solid #36aeea;
  color: #36aeea;
}
/* line 60, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\0000360}}
.top {
  background-size: cover;
  width: 100%;
  background-image: url("../images/headerBg.png");
}
/* line 64, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\0000364}}
.top .travel {
  padding: 15px 20px;
  width: 700px;
  margin: 161px 100px 83px;
  display: inline-block;
}
/* line 69, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\0000369}}
.top .travel h2 {
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  letter-spacing: 2px;
}
/* line 75, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\0000375}}
.top .travel h2 span {
  color: #56c7ff;
  text-transform: none;
  font-family: 'Leckerli One', cursive;
}
/* line 81, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\0000381}}
.top .travel p {
  color: #9daeb6;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
/* line 86, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\0000386}}
.top .travel a {
  color: #ffffff;
  border: 1px solid #56c7ff;
  padding: 10px 40px;
  display: inline-block;
  margin-top: 15px;
  background-color: #56c7ff;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}
/* line 100, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003100}}
.blog {
  background-color: #f6f4f4;
}
/* line 102, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003102}}
.blog .contant {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url("../images/blogBg.png");
  background-size: cover;
}
/* line 109, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003109}}
.blog .contant .about {
  padding-top: 150px;
  width: 39%;
  float: left;
}
/* line 113, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003113}}
.blog .contant .about hr {
  height: 6px;
  width: 81px;
  background: url(../images/hr.png) repeat-x 0 0;
  border: 0;
}
/* line 117, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003117}}
.blog .contant .about h4 {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  padding: 25px 0 20px;
  letter-spacing: 3px;
}
/* line 124, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003124}}
.blog .contant .about p {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #9daeb6;
  letter-spacing: 1px;
}
/* line 131, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003131}}
.blog .contant .about a {
  color: #ffffff;
  border: 1px solid #56c7ff;
  padding: 10px 40px;
  display: inline-block;
  margin-top: 15px;
  background-color: #56c7ff;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}
/* line 144, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003144}}
.blog .contant .blog.right {
  float: left;
  width: 60%;
}
/* line 147, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003147}}
.blog .contant .blog.right img.selfie {
  position: absolute;
  width: 545px;
  bottom: 134px;
  left: 517px;
}
/* line 153, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003153}}
.blog .contant .blog.right img.foots {
  position: absolute;
  z-index: 1;
  width: 250px;
  top: 221px;
  right: 243px;
}
/* line 164, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003164}}
.journal hr {
  height: 6px;
  width: 81px;
  background: url(../images/hr.png) repeat-x 0 0;
  border: 0;
  margin: 50px 407px 30px;
}
/* line 169, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003169}}
.journal h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 60px;
  font-size: 30px;
  letter-spacing: 2px;
}
/* line 172, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003172}}
.journal .description {
  margin-bottom: 66px;
  padding-bottom: 250px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(201, 189, 201, 0.8);
  box-shadow: 0px 0px 20px 0px rgba(201, 189, 201, 0.8);
  margin-top: 50px;
}
/* line 179, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003179}}
.journal .description .love {
  margin-left: 79px;
}
/* line 181, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003181}}
.journal .description .love .left {
  position: relative;
  background-size: cover;
  height: 250px;
  width: 250px;
  background-image: url("../images/post1Bg.png");
}
/* line 187, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003187}}
.journal .description .love .left img {
  padding: 100px 96px 0;
  width: 252px;
}
/* line 191, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003191}}
.journal .description .love .left .triangular {
  position: absolute;
  right: 0;
  top: 15%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7.5px 10px 7.5px 0;
  border-color: transparent #ffffff transparent transparent;
}
/* line 202, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003202}}
.journal .description .love .right {
  float: left;
  height: 250px;
  width: 250px;
}
/* line 206, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003206}}
.journal .description .love .right h5 {
  text-transform: uppercase;
  color: #36aeea;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 9px;
  padding: 25px;
}
/* line 215, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003215}}
.journal .description .love .right h4 {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 11px;
}
/* line 222, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003222}}
.journal .description .love .right p {
  padding: 20px 0 25px;
  color: #777777;
  text-align: center;
  font-size: 14px;
}
/* line 228, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003228}}
.journal .description .love .right span.number {
  display: block;
  font-style: italic;
  text-align: center;
  font-size: 12px;
}
/* line 236, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003236}}
.journal .description .tree {
  float: left;
  margin-left: 79px;
}
/* line 239, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003239}}
.journal .description .tree .left {
  float: left;
  height: 250px;
  width: 250px;
}
/* line 243, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003243}}
.journal .description .tree .left h5 {
  text-transform: uppercase;
  color: #36aeea;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 9px;
  padding: 25px;
}
/* line 252, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003252}}
.journal .description .tree .left h4 {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 11px;
}
/* line 258, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003258}}
.journal .description .tree .left h4 span.lineThrought {
  text-decoration: line-through;
}
/* line 262, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003262}}
.journal .description .tree .left p {
  padding: 20px 0 25px;
  color: #777777;
  text-align: center;
  font-size: 14px;
}
/* line 268, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003268}}
.journal .description .tree .left span.number {
  display: block;
  font-style: italic;
  text-align: center;
  font-size: 12px;
}
/* line 275, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003275}}
.journal .description .tree .right {
  float: right;
  position: relative;
  background-size: cover;
  height: 250px;
  width: 250px;
  background-image: url("../images/post3Bg.png");
}
/* line 282, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003282}}
.journal .description .tree .right img {
  padding: 100px 96px 0;
  width: 252px;
}
/* line 286, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003286}}
.journal .description .tree .right .triangular {
  position: absolute;
  top: 15%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7.5px 0 7.5px 10px;
  border-color: transparent transparent transparent #ffffff;
}
/* line 298, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003298}}
.journal .description .water .top {
  background-image: url("../images/post2Bg.png");
  display: inline-block;
  position: relative;
  background-size: cover;
  height: 250px;
  width: 250px;
}
/* line 305, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003305}}
.journal .description .water .top img {
  padding: 100px 96px 0;
  width: 252px;
}
/* line 309, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003309}}
.journal .description .water .top .triangular {
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7.5px 10px 7.5px;
  border-color: transparent transparent #ffffff transparent;
}
/* line 320, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003320}}
.journal .description .water .bottom {
  float: left;
  height: 250px;
  width: 250px;
}
/* line 324, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003324}}
.journal .description .water .bottom h5 {
  text-transform: uppercase;
  color: #36aeea;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 9px;
  padding: 25px;
}
/* line 333, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003333}}
.journal .description .water .bottom h4 {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 11px;
}
/* line 339, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003339}}
.journal .description .water .bottom h4 span.lineThrought {
  text-decoration: line-through;
}
/* line 343, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003343}}
.journal .description .water .bottom p {
  padding: 20px 0 25px;
  color: #777777;
  text-align: center;
  font-size: 14px;
}
/* line 349, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003349}}
.journal .description .water .bottom span.number {
  display: block;
  font-style: italic;
  text-align: center;
  font-size: 12px;
}
/* line 359, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003359}}
.order {
  padding: 179px 0;
  background-image: url("../images/formBg.png");
  background-size: cover;
}
/* line 363, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003363}}
.order hr {
  height: 6px;
  width: 81px;
  background: url(../images/hr.png) repeat-x 0 0;
  border: 0;
}
/* line 366, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003366}}
.order h4 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  padding: 25px 0 10px;
  letter-spacing: 1px;
}
/* line 372, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003372}}
.order p {
  font-family: 'Open Sans', sans-serif;
  color: #9daeb6;
  letter-spacing: 1px;
  padding-bottom: 15px;
  font-size: 15px;
}
/* line 380, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003380}}
.order form .name {
  border: none;
  padding: 10px 15px;
  float: left;
}
/* line 385, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003385}}
.order form .phone {
  border-radius: 0 4px 4px 0;
  border: none;
  padding: 10px 15px;
  display: block;
  float: left;
}
/* line 392, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003392}}
.order form .submit {
  text-transform: uppercase;
  border: none;
  padding: 10px;
  color: #ffffff;
  background-color: #36aeea;
  cursor: pointer;
}
/* line 401, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003401}}
.order i {
  color: #36aeea;
  margin-top: 20px;
  margin-right: 15px;
}
/* line 406, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003406}}
.order span {
  color: #36aeea;
  font-size: 14px;
}
/* line 412, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003412}}
.scheme {
  position: relative;
}
/* line 414, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003414}}
.scheme hr {
  height: 6px;
  width: 81px;
  background: url(../images/hr.png) repeat-x 0 0;
  border: 0;
  margin: 30px 405px;
}
/* line 418, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003418}}
.scheme h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 60px;
  font-size: 30px;
  letter-spacing: 2px;
}
/* line 421, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003421}}
.scheme h3 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 427, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003427}}
.scheme .dashedLine {
  z-index: -1;
  width: 681px;
  height: 119px;
  padding: 20px;
  margin: 10px;
  position: absolute;
  top: 177px;
  left: 592px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(90%, #f0f3f6), color-stop(50%, transparent)), none, -webkit-gradient(linear, left top, left bottom, color-stop(90%, #f0f3f6), color-stop(50%, transparent)), none;
  background-image: linear-gradient(to right, #f0f3f6 90%, transparent 50%), none, linear-gradient(to bottom, #f0f3f6 90%, transparent 50%), none;
  background-position: left top, left bottom, left top, right top;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 60px 2px, 0px 0px, 2px 60px, 0px 0px;
}
/* line 442, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003442}}
.scheme ul {
  counter-reset: scheme-count;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 10px 0 10px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
/* line 451, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003451}}
.scheme ul li {
  display: inline;
  max-width: 185px;
}
/* line 455, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003455}}
.scheme ul li:before {
  z-index: 1;
  counter-increment: scheme-count;
  width: 28px;
  height: 30px;
  border-radius: 50px;
  border-style: solid;
  border-width: 3px;
  border-color: #36aeea;
  content: counter(scheme-count);
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 16px;
  color: #36aeea;
  display: block;
  margin: auto;
  padding-top: 14px;
  padding-left: 18px;
  top: -27px;
  left: calc(25%);
  margin-bottom: 58px;
  background-color: #ffffff;
}
/* line 479, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003479}}
.scheme ul li p {
  font-size: 14px;
  text-align: center;
  color: #9daeb6;
  font-family: 'Roboto', sans-serif;
  padding: 27px 0 40px;
}
/* line 485, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003485}}
.scheme ul li p span {
  font-weight: 700;
  color: #000000;
}
/* line 493, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003493}}
.travelWithUs {
  background-image: url("../images/travelWithUsBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 279px;
}
/* line 498, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003498}}
.travelWithUs hr {
  height: 6px;
  width: 81px;
  background: url(../images/hr.png) repeat-x 0 0;
  border: 0;
  margin-left: 906px;
  padding-top: 30px;
}
/* line 503, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003503}}
.travelWithUs h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 60px;
  font-size: 30px;
  letter-spacing: 2px;
}
/* line 506, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003506}}
.travelWithUs .travelWrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 auto;
  width: 1140px;
}
/* line 512, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003512}}
.travelWithUs .travelWrapper h4 {
  text-transform: capitalize;
  color: #ffffff;
  padding-top: 115px;
  font-size: 28px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}
/* line 520, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003520}}
.travelWithUs .travelWrapper i {
  color: #ffffff;
  font-size: 23px;
}
/* line 524, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003524}}
.travelWithUs .travelWrapper p {
  color: #ffffff;
  font-size: 17px;
  font-family: 'Lato', sans-serif;
}
/* line 529, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003529}}
.travelWithUs .travelWrapper span.left {
  float: left;
  text-decoration: line-through;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  padding-top: 109px;
  font-size: 20px;
}
/* line 537, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003537}}
.travelWithUs .travelWrapper span.right {
  float: right;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  padding-top: 106px;
  font-weight: 700;
  font-size: 25px;
}
/* line 545, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003545}}
.travelWithUs .travelWrapper .carpathian {
  background-image: url("../images/carpathianBg.png");
  background-size: cover;
  margin: 10px 10px;
  width: 200px;
  padding: 20px;
  border-radius: 5px;
}
/* line 549, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003549}}
.travelWithUs .travelWrapper .alps {
  background-size: cover;
  margin: 10px 10px;
  width: 200px;
  padding: 20px;
  border-radius: 5px;
  background-image: url("../images/alpsBg.png");
}
/* line 553, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003553}}
.travelWithUs .travelWrapper .pyrenees {
  background-image: url("../images/pyreneesBg.png");
  background-size: cover;
  margin: 10px 10px;
  width: 200px;
  padding: 20px;
  border-radius: 5px;
}
/* line 558, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003558}}
.travelWithUs .travelWrapper .rocky {
  background-image: url("../images/rockyBg.png");
  background-size: cover;
  margin: 10px 10px;
  width: 200px;
  padding: 20px;
  border-radius: 5px;
}
/* line 562, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003562}}
.travelWithUs .travelWrapper .kavkaz {
  background-image: url("../images/kavkazBg.png");
  background-size: cover;
  margin: 10px 10px;
  width: 200px;
  padding: 20px;
  border-radius: 5px;
}
/* line 568, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003568}}
.gallery {
  margin-bottom: 715px;
  width: 100%;
}
/* line 570, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003570}}
.gallery hr {
  height: 6px;
  width: 81px;
  background: url(../images/hr.png) repeat-x 0 0;
  border: 0;
  margin-left: 909px;
  padding-top: 35px;
  margin-top: 50px;
}
/* line 576, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003576}}
.gallery h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 60px;
  font-size: 30px;
  letter-spacing: 2px;
}
/* line 580, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003580}}
.gallery .galleryWrapper {
  width: 1140px;
  margin: 0 auto;
}
/* line 583, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003583}}
.gallery .galleryWrapper img {
  display: block;
  float: left;
  padding: 8px;
}
/* line 588, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003588}}
.gallery .galleryWrapper .image {
  margin-top: -100px;
}
/* line 593, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003593}}
.logoBar {
  background-color: #f8f9fa;
}
/* line 595, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003595}}
.logoBar .logobarWrapper {
  width: 1220px;
  margin: 0 auto;
}
/* line 599, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003599}}
.logoBar img {
  padding: 64px;
}
/* line 603, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003603}}
footer {
  background-image: url("../images/footerBg.png");
}
/* line 605, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003605}}
footer .footerWrapper {
  max-width: 1200px;
  margin: 0 auto;
}
/* line 608, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003608}}
footer .footerWrapper hr {
  height: 6px;
  width: 81px;
  background: url(../images/hr.png) repeat-x 0 0;
  border: 0;
  margin-left: 564px;
  padding-top: 35px;
  margin-top: 100px;
}
/* line 614, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003614}}
footer .footerWrapper .reviewsTitle {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 60px;
  font-size: 30px;
  letter-spacing: 2px;
}
/* line 617, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003617}}
footer .footerWrapper .reviews {
  padding-bottom: 143px;
}
/* line 619, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003619}}
footer .footerWrapper .reviews i {
  color: #9daeb6;
}
/* line 622, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003622}}
footer .footerWrapper .reviews p {
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  color: #9daeb6;
  margin-bottom: 33px;
}
/* line 631, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003631}}
footer .footerWrapper .reviews span {
  padding-top: 25px;
  color: #36aeea;
}
/* line 635, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003635}}
footer .footerWrapper .reviews span .position {
  font-weight: 700;
}
/* line 639, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003639}}
footer .footerWrapper .reviews .name {
  margin-left: 20px;
}
/* line 643, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003643}}
footer .footerWrapper .reviews .left {
  padding: 0px 90px;
}
/* line 650, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003650}}
footer .footerWrapper .formWrapper {
  width: 39%;
  margin-left: 331px;
}
/* line 653, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003653}}
footer .footerWrapper .formWrapper .contact {
  border-radius: 7px;
  background-image: url("../images/callback-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
/* line 661, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003661}}
footer .footerWrapper .formWrapper .contact .contactTitle {
  padding: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #36aeea;
}
/* line 667, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003667}}
footer .footerWrapper .formWrapper .contact span {
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  display: block;
}
/* line 673, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003673}}
footer .footerWrapper .formWrapper .contact input {
  width: 86%;
  font-family: 'Open Sans', sans-serif;
  padding: 14px;
  margin-bottom: 35px;
  border-radius: 6px;
  font-size: 18px;
  border: none;
}
/* line 682, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003682}}
footer .footerWrapper .formWrapper .contact .send {
  text-transform: uppercase;
  background-color: #36aeea;
  cursor: pointer;
}
@media screen and (max-width: 1366px) {
  /* line 808, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003808}}
  .top {
    background-size: cover;
    width: 100%;
    background-image: url("../images/headerBg.png");
  }
  /* line 812, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003812}}
  .top .travel {
    padding: 15px 20px;
    width: 700px;
    margin: 161px 100px 83px;
    display: inline-block;
  }
  /* line 817, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003817}}
  .top .travel h2 {
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    letter-spacing: 2px;
  }
  /* line 823, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003823}}
  .top .travel h2 span {
    color: #56c7ff;
    text-transform: none;
    font-family: 'Leckerli One', cursive;
  }
  /* line 829, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003829}}
  .top .travel p {
    color: #9daeb6;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
  }
  /* line 834, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003834}}
  .top .travel a {
    color: #ffffff;
    border: 1px solid #56c7ff;
    padding: 10px 40px;
    display: inline-block;
    margin-top: 15px;
    background-color: #56c7ff;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
  }
  /* line 849, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003849}}
  .scheme {
    position: relative;
  }
  /* line 851, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003851}}
  .scheme hr {
    height: 6px;
    width: 81px;
    background: url(../images/hr.png) repeat-x 0 0;
    border: 0;
    margin: 30px 405px;
  }
  /* line 855, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003855}}
  .scheme h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 60px;
    font-size: 30px;
    letter-spacing: 2px;
  }
  /* line 858, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003858}}
  .scheme h3 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
  }
  /* line 864, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003864}}
  .scheme .dashedLine {
    z-index: -1;
    width: 681px;
    height: 119px;
    padding: 20px;
    margin: 10px;
    position: absolute;
    top: 177px;
    left: 291px;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(90%, #f0f3f6), color-stop(50%, transparent)), none, -webkit-gradient(linear, left top, left bottom, color-stop(90%, #f0f3f6), color-stop(50%, transparent)), none;
    background-image: linear-gradient(to right, #f0f3f6 90%, transparent 50%), none, linear-gradient(to bottom, #f0f3f6 90%, transparent 50%), none;
    background-position: left top, left bottom, left top, right top;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 60px 2px, 0px 0px, 2px 60px, 0px 0px;
  }
  /* line 879, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003879}}
  .scheme ul {
    counter-reset: scheme-count;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 25px 10px 0 10px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  /* line 888, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003888}}
  .scheme ul li {
    display: inline;
    max-width: 185px;
  }
  /* line 892, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003892}}
  .scheme ul li:before {
    z-index: 1;
    counter-increment: scheme-count;
    width: 28px;
    height: 30px;
    border-radius: 50px;
    border-style: solid;
    border-width: 3px;
    border-color: #36aeea;
    content: counter(scheme-count);
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 16px;
    color: #36aeea;
    display: block;
    margin: auto;
    padding-top: 14px;
    padding-left: 18px;
    top: -27px;
    left: calc(25%);
    margin-bottom: 58px;
    background-color: #ffffff;
  }
  /* line 916, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003916}}
  .scheme ul li p {
    font-size: 14px;
    text-align: center;
    color: #9daeb6;
    font-family: 'Roboto', sans-serif;
    padding: 27px 0 40px;
  }
  /* line 922, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003922}}
  .scheme ul li p span {
    font-weight: 700;
    color: #000000;
  }
  /* line 931, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003931}}
  .travelWithUs hr {
    height: 6px;
    width: 81px;
    background: url(../images/hr.png) repeat-x 0 0;
    border: 0;
    margin-left: 606px;
  }
  /* line 937, style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/li\/acad\/mountains\/mountains\/style\/style\.less}line{font-family:\00003937}}
  .gallery hr {
    height: 6px;
    width: 81px;
    background: url(../images/hr.png) repeat-x 0 0;
    border: 0;
    margin-left: 604px;
    padding-bottom: 20px;
    margin-top: 50px;
  }
}
