//colors
@blue: #36aeea;
@grey: #9daeb6;
@transparentWhite: rgba(255,255,255, 0.6);
@white: #ffffff;
@liteBlue: #56c7ff;
@darkWhite: #f6f4f4;
@darkGray: #777777;

//fonts
@lato: 'Lato', sans-serif;
@dancingScript: 'Dancing Script', cursive;